<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<div class="container text-center">
    <h1>E-mail generator</h1>
    <br>
    <form action="{% url 'email' %}">
        <select name="domain">
            <option value="@wp.pl">Wirtualna Polska</option>
            <option value="@gmail.com">Gmail</option>
            <option value="@interia.pl">Interia</option>

        </select>
        <br>
        <br>
        <select name="length">
            <option value="6">6 letters</option>
            <option value="7">7 letters</option>
            <option value="8">8 letters</option>
            <option value="9">9 letters</option>
            <option value="10">10 letters</option>
        </select>

        <br>
        <br>
        <input type="checkbox" name="numbers">
        <label for="numbers">Numbers</label>
        <br>



        <input type="submit" value="Generate E-Mail" class="btn btn-primary">
    </form>
    <a href={% url 'about' %} class="btn btn-secondary">About Page</a>
</div>